
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title>Jp10History</title>
<div style="display:flex;position:fixed;background-color:#0000aa;color:#fff;">
<section style="width:40em;padding-left:2em;">
<h1>Beat Saber <img src = "{% static 'jp.png' %}" width=45 height=50> Top10 History</h1>
</section>
<section style="margin-top:.5em;font-weight:bold;font-size:x-large;width:100em;">
<p>
{% if freq == 'day'%}Daily{% else %}<a href='/?q=day' disabled>Daily</a>{% endif %}
    /
{% if freq == 'week'%}Weekly{% else %}<a href='/?q=week' disabled>Weekly</a>{% endif %}
    /
{% if freq == 'month'%}Monthly{% else %}<a href='/?q=month' disabled>Monthly</a>{% endif %}
</p>
</section>
</div>
</head>
<main style="padding-top:4em;">
    {% for y in year_by %}
    <h1 style='background-color:#0000aa;color:#ffffff;padding-left:1em'>{{y.year}}年</h1>
    {% if freq != 'month' %}
    {% for m in y.data%}
    <a id="{{y.year}}-{{m.month}}" href="/?q=day#{{y.year}}-{{m.month}}">
    <h2 style='padding-left:2em;color:#0000aa;'>{{m.month}}月</h2>
    </a>
    <table border="2" style = "text-align:center;background:#0000aa;color:#ffffff">
    <tr>
    <th width=40>日</th>
    <th>#1</th>
    <th>#2</th>
    <th>#3</th>
    <th>#4</th>
    <th>#5</th>
    <th>#6</th>
    <th>#7</th>
    <th>#8</th>
    <th>#9</th>
    <th>#10</th>
    </tr>
    {% for d in m.data%}
    <tr>
    
    <td style = "text-align:center;background:#ffffff;color:#0000aa;font-weight:bold;">
    <a id="{{y.year}}-{{m.month}}-{{d.date.day}}" href="/?q=day#{{y.year}}-{{m.month}}-{{d.date.day}}">{{d.date.day}}</a>
    </td>
    <td><a href="https://scoresaber.com/u/{{d.n0}}" target="blank"><img src = "{% static d.n0|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n1}}" target="blank"><img src = "{% static d.n1|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n2}}" target="blank"><img src = "{% static d.n2|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n3}}" target="blank"><img src = "{% static d.n3|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n4}}" target="blank"><img src = "{% static d.n4|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n5}}" target="blank"><img src = "{% static d.n5|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n6}}" target="blank"><img src = "{% static d.n6|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n7}}" target="blank"><img src = "{% static d.n7|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n8}}" target="blank"><img src = "{% static d.n8|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n9}}" target="blank"><img src = "{% static d.n9|add:'.jpg' %}" width=100 height=100></a></td>
    </tr>
    {% endfor %}
    </table>
    {% endfor %}
    {% else %}
    <table border="2" style = "text-align:center;background:#0000aa;color:#ffffff">
    <tr>
    <th width=40>月</th>
    <th>#1</th>
    <th>#2</th>
    <th>#3</th>
    <th>#4</th>
    <th>#5</th>
    <th>#6</th>
    <th>#7</th>
    <th>#8</th>
    <th>#9</th>
    <th>#10</th>
    </tr>
    {% for m in y.data %}
    <tr>
    {% for d in m.data %}
    <td style = "text-align:center;background:#ffffff;color:#0000aa;font-weight:bold;">
    <a href="/?q=week#{{y.year}}-{{m.month}}">{{m.month}}</a>
    </td>
    <td><a href="https://scoresaber.com/u/{{d.n0}}" target="blank"><img src = "{% static d.n0|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n1}}" target="blank"><img src = "{% static d.n1|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n2}}" target="blank"><img src = "{% static d.n2|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n3}}" target="blank"><img src = "{% static d.n3|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n4}}" target="blank"><img src = "{% static d.n4|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n5}}" target="blank"><img src = "{% static d.n5|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n6}}" target="blank"><img src = "{% static d.n6|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n7}}" target="blank"><img src = "{% static d.n7|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n8}}" target="blank"><img src = "{% static d.n8|add:'.jpg' %}" width=100 height=100></a></td>
    <td><a href="https://scoresaber.com/u/{{d.n9}}" target="blank"><img src = "{% static d.n9|add:'.jpg' %}" width=100 height=100></a></td>
    </tr>
    {% endfor %}
    {% endfor %}
    </table>
    {% endif %}
    {% endfor %}
</main>